<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "header.html" . }}
    <link rel="stylesheet" href="/public/css/login.css">
</head>
<body>
    <!-- Include Navbar -->
    {{ template "navbar.html" . }}
    <div class="container">
        <h1>User Login</h1>
        <form id="loginForm" method="POST" action="/login/check">
            <label for="username" style="text-align: center;">Username</label>
            <input type="text" id="username" name="username" style="display: flex; text-align: center;" required>
    
            <label for="password" style="text-align: center;">Password</label>
            <input type="password" id="password" name="password" style="display: flex; text-align: center;" required>
    
            <button type="submit">Login</button>
        </form>
        <div class="message-error" id="message-error"></div>
    </div>
</body>
</html>