<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "header.html" . }}
    <link rel="stylesheet" href="/public/css/profile.css">
</head>
<body>
    <!-- Include Navbar -->
    {{ template "navbar.html" . }}
    <div class="container">
        <!-- En-tête du profil -->
        <div class="profile-header">
            <h2 style="display: inline;">{{ .Username }}'s Profile Details</h2>
        </div>
        <div style="display: flex; justify-content: center; align-items: center;">
            {{ if .UserAvatarURL }}
                <img src="{{ .UserAvatarURL }}" alt="Profile Picture" class="profile-avatar" style="width: 120px; height: 120px; margin-left: 10px; border: 2px solid black; border-radius: 50%;">
            {{ else }}
                <img src="/public/img/default_user.png" alt="Default Profile Picture" class="profile-avatar" style="width: 120px; height: 120px; margin-left: 10px; border: 2px solid black; border-radius: 50%;">
            {{ end }}
        </div>

        <!-- Informations du profil -->
        <div class="profile-info">
            <table>
                <tr>
                    <th>Username</th>
                    <td>{{ .Username }}</td>
                </tr>
                <tr>
                    <th>Password</th>
                    <td>••••••••</td> <!-- Masqué pour des raisons de sécurité -->
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ .Email }}</td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td>{{ .Phone }}</td>
                </tr>
                <tr>
                    <th>Creation Date</th>
                    <td>{{ .CreationDate }}</td>
                </tr>
                <tr>
                    <th>Last Connection</th>
                    <td>{{ .LastConnection }}</td>
                </tr>
                <tr>
                    <th>Last IP</th>
                    <td>{{ .LastIP }}</td>
                </tr>
            </table>
        </div>
        <!-- Ajoutez ici d'autres sections si nécessaire -->
    </div>
</body>
</html>